@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-black: #000;
  --color-white: #fff;

  --color-blue-100: #f9f9ff;
  --color-blue-500: #4389f1;

  --color-gray-100: #eff3f6;
  --color-gray-200: #eef2f5;
  --color-gray-300: #edf0ef;
  --color-gray-600: #3d4248;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: var(--color-blue-100); */
  background-color: #efefef;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkmode {
  --color-white: #3c444c;
  --color-gray-100: #535861;
  --color-gray-200: #535861;
  --color-gray-300: #545c65;
  --color-gray-600: #eff3f6;
}
.purplemode {
  --color-white: #898ac4;
  --color-gray-100: #a2aadb;
  --color-gray-300: #a2aadb;
}

.hidden {
  display: none !important;
}

.layout {
  height: 45rem;
  background-color: var(--color-white);
  color: var(--color-gray-600);
  border-radius: 2rem;
  display: grid;
  grid-template-rows: 1fr 2fr 4fr;
  gap: 1rem;
  padding: 1.5rem;
  transition: all 0.2s;
}
.layout__standard-width {
  width: 24rem;
}
.layout__scientific-width {
  width: 40rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__calc-mode {
  display: flex;
  align-items: start;
  gap: 1.5rem;
}
.header__calc-mode .header__btn {
  font-family: "Poppins", sans-serif;
  color: var(--color-gray-600);
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.header__calc-mode .header__cacl-active-mode {
  border-bottom: 2px solid var(--color-blue-500);
}

.header__theme-switcher {
  font-family: "Poppins", sans-serif;
  position: relative;
}
.theme__selected {
  cursor: pointer;
}
.theme__options {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 2rem;
}
.theme__options li {
  width: 100%;
  height: 100;
  padding: 0.2rem 0.5rem;
  text-align: center;
  list-style: none;
  user-select: none;
  cursor: pointer;
}
.theme__options li[data-value="light"] {
  color: black;
  background-color: white;
}
.theme__options li[data-value="dark"] {
  color: white;
  background-color: #2d3033;
}
.theme__options li[data-value="purple"] {
  color: white;
  background-color: purple;
}

.display {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 1.5rem;
}
.display .display__expression {
  font-size: 1.2rem;
}
.display .display__result {
  font-size: 2rem;
  font-weight: 600;
}

.buttons {
  width: 100%;
  display: grid;
}

.buttons__grid-style {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 1rem;
}
.buttons__standard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.buttons__scientific {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.buttons__scientific button {
  font-size: 1.2rem;
  font-weight: 400;
}
.btn {
  font-family: "Poppins", sans-serif;
  color: var(--color-gray-600);
  background-color: transparent;
  border: 1px solid var(--color-gray-300);
  border-radius: 0.2rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.btn.operator {
  background-color: var(--color-gray-100);
  transition: all 0.3s;
}
.btn.operator:active {
  background-color: #c4cace;
}
.btn.equal {
  grid-column: span 2;
  background-color: var(--color-blue-500);
  color: #fff;
  transition: all 0.3s;
}
.btn.equal:active {
  background-color: #3d6baf;
}
